<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="About.css">
    </style>
</head>
<body>
    <nav>
        <ul>
            <div class="left-nav">
                <li><a href="Index-1">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
            </div>
            <div class="right-nav">
                <li><a href="#logout">Logout</a></li>
            </div>
        </ul>
    </nav>
    <main>
    <h1>Elevating Careers, Personalizing Growth</h1>
    <h4>Upskill, Transform, Succeed: LearNext's Mission for Every Learner!</h4>
    <p>LearNext started small, not in a big fancy place or with lots of stuff. It all began with a dream about helping students reach their dreams. We believe that anyone and everyone can dream, and we are dedicated to empowering our students to achieve their goals and pursue their dreams. We provide them with the resources and support they need to succeed in the tech industry.</p>

    <div class="iframe-container">
        <h2>Accept Challenges</h2>
        <iframe title="Accept Challenges" srcdoc="At LearNext, 'impossible' isn't in our vocabulary until we've exhausted every avenue to turn it into 'possible.' Our culture encourages pushing boundaries and persisting through challenges to find solutions that initially seem out of reach."></iframe>
    </div>

    <div class="iframe-container">
        <h2>Pursuit of Excellence</h2>
        <iframe title="Pursuit of Excellence" srcdoc="We celebrate our victories but remain restless for more. At LearNext, settling for 'good enough' isn't an option. We strive for excellence in every task, knowing well that the next breakthrough is just around the corner."></iframe>
    </div>

    <div class="iframe-container">
        <h2>Teamwork and Joy</h2>
        <iframe title="Teamwork and Joy" srcdoc="We believe in the power of teamwork and joy in work. At LearNext, every member contributes to a positive, collaborative environment. We work hard not just out of duty but from a genuine love for what we do, and we do it with a smile."></iframe>
    </div>

    <div class="iframe-container">
        <h2>Innovation and Long-term Vision</h2>
        <iframe title="Innovation and Long-term Vision" srcdoc="LearNext is all about inventing the future. We focus on creating new value and not just improving the old. Optimistic about our goals, we face challenges head-on, learning and adapting swiftly, always with an eye on long-term impacts for our users and community."></iframe>
    </div>
</main>

  <footer>
        <p>© 2024 LearnNext. All rights reserved.</p>
    </footer>
    
</body>
</html>
